In [1]:
#1
a = False
b = a
type(b)

bool

In [0]:
#2 
# 할당, =, 비교, ==

In [0]:
#3
if a>b:
  print("***")
  print('True')
  print('***')
#들여쓰기가 맞지 않았다.

In [6]:
#4
iq = int(input("IQ를 입력하시오: "))
if iq >= 148:
  print("멘사에 가입할 수 있습니다")
else:
  print("멘사에 가입할 수 없습니다")

IQ를 입력하시오: 148
멘사에 가입할 수 있습니다

In [7]:
#5
score = int(input("성적: "))
if score >= 85:
  print("정규직 전환 가능")
else:
  print("정규직 전환 불가능")

성적: 85
정규직 전환 가능

In [9]:
#6
oil = int(input("휘발유: "))
if oil < 10:
  print("휘발유 공급")
else:
  print("휘발유 충분")

휘발유: 9
휘발유 공급

In [10]:
#7
a = int(input("학점: "))
if a >= 140:
  print("졸업 가능")
else:
  print("졸업 불가능")

학점: 140
졸업 가능

In [11]:
#8
coin = int(input("잔액: "))
if coin > 1200:
  print("버스 탑승 가능")
else:
  print("버스 탑승 불가능")

잔액: 1200
버스 탑승 불가능

In [12]:
#9
width = int(input("강의 폭: "))
if width > 30:
  print("강을 건널 수 없다")
else:
  print("강을 건널 수 있다")

강의 폭: 35
강을 건널 수 없다

In [13]:
#10
temp = int(input("에어컨 온도: "))
if temp < 23:
  print("적정 온도가 아니니, 온도를 높여야 한다")
else:
  print("적정 온도입니다")

에어컨 온도: 24
적정 온도입니다

In [14]:
#11
a = int(input("음량: "))
if a >= 7:
  print("적정 음량보다 높다. 줄여야 한다.")
else:
  print("적정 음량입니다")

음량: 7
적정 음량보다 높다. 줄여야 한다.

In [15]:
#12
all = int(input("전체 용량: "))
current = int(input("현재 용량: "))
if current < all*0.3:
  print("현재 전기량이 적으니, 휘발유로 주행해야 한다.")
else:
  print("전기로 주행 가능")

전체 용량: 10
현재 용량: 3
전기로 주행 가능

In [16]:
#13
h = int(input("키: "))
age = int(input("나이: "))
if (age<19) and (h>140):
  print("탑승가능")
else:
  print("탑승불가")

키: 141
나이: 18
탑승가능

In [17]:
#14
canada = int(input("캐나다: "))
china = int(input("중국: "))
if china < canada:
  print("true")
else:
  print('false')

캐나다: 99
중국: 95
true

In [18]:
#15
money = int(input("잔액: "))
if money > 300:
  print("주식 투자가 가능합니다")
else:
  print("주식 투자가 불가능합니다")

잔액: 300
주식 투자가 불가능합니다

In [19]:
#16
prof_percent = int(input("이윤: "))
prof_money = int(input("금액: "))
if (prof_percent >= 10) or (prof_money >= 500):
  print("주식 투자를 잘 한 것이다")
else:
  print("주식 투자를 못 한 것이다")

이윤: 5
금액: 540
주식 투자를 잘 한 것이다

In [20]:
#17
major = input("학과: ")
grade = int(input("학년: "))
if (major == 'computer science') and (grade == 4):
  print("문자가 온다")
else:
  print("문자가 안 온다")

학과: computer science
학년: 3
문자가 안 온다

In [21]:
#18
grade = int(input("학년: "))
if grade == 3:
  print(33000*0.9)
else:
  print(33000)

학년: 3
29700.0

In [22]:
#19
num = int(input("숫자: "))
if num % 3 == 0:
  print("3의 배수이다")
else:
  print("3의 배수가 아니다")

숫자: 3
3의 배수이다

In [23]:
#20
number = int(input("숫자: "))
if number % 2 == 0:
  print("짝수입니다")
else:
  print("홀수입니다")
  print("프로그램 종료")  ## <- 이 부분을 들여쓰기를 하지 말고 else와 같은 라인에 써야한다.

숫자: 31
홀수입니다
프로그램 종료

In [24]:
#21
a_p = 1000
g_p = 3000
p_p = 2000
o_p = 500
a_n = int(input("사과 개수: "))
g_n = int(input("포도 개수: "))
p_n = int(input("배 개수: "))
o_n = int(input("귤 개수: "))

if g_n >= 3:
  price = (a_p*a_n) + (g_p*g_n) + (p_p*p_n) + (o_p*o_n)
  print(price * 0.9)
else:
  price = (a_p*a_n) + (g_p*g_n) + (p_p*p_n) + (o_p*o_n)
  print(price)

사과 개수: 3
포도 개수: 3
배 개수: 3
귤 개수: 3
17550.0

In [25]:
#22
bank_name = input("은행 이름: ")
way = input("방법: ")
way = input("돈_수표: ")
if (bank_name == '파이') and ((way=='card') or (way == 'bankbook')) and (check_money == 'money'):
  print("입금 할 수 있다")
else:
  print("입금 못 합니다.")

은행 이름: 파이
방법: 카드
돈_수표: 수표
입금 못 합니다.

In [26]:
#23
one = int(input("1과목: "))
two = int(input("2과목: "))
three = int(input("3과목: "))
if ((one >= 60) and (two >= 60) and (three >= 60)) or ((one+two+three)/3 >= 70):
  print("자격증을 딸 수 있다")
else:
  print("자격증을 딸 수 없다")

1과목: 90
2과목: 70
3과목: 50
자격증을 딸 수 있다

In [28]:
#24
num_semester = int(input("이수학기: "))
num_object = int(input("이수학점: "))
if (num_semester < 8) and (num_object >= 140):
  print("조기졸업이 가능하다.")
else:
  print("조기졸업이 불가능하다.")

이수학기: 6
이수학점: 150
조기졸업이 가능하다.